* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  align-items: center;
  background-color: #252525;
  color: #ffffff;
  display: flex;
  height:100vh; 
  justify-content: center;
  text-align: center;
}
div.Contendor {
  padding: 0.25em;
  vertical-align: middle;
}
h1 {
  margin: 5px;
  text-align: center;
}
h2 {
  margin: 10px;
  text-align: center;
}
img.Error {
  display: block;
  margin: 5px auto;
  text-align: center;
  width: 40%;
}
img.Face-Sad{
  display: block;
  margin: 5px auto;
  text-align: center;
  width: 200px;
}
a{
  color: #ffbf00;
  font-weight: bolder;
  text-decoration: none;
}

a:hover{
  font-size:20px;
}
